---
const mitrajurnal = [
    {
        name: "",
        src: "/mitrajurnal/dutawacana.png",
    },
    {
        name: "",
        src: "/mitrajurnal/esaunggul.png",
    },
    {
        name: "",
        src: "/mitrajurnal/ipwija.png",
    },
    {
        name: "",
        src: "/mitrajurnal/pancasila.png",
    },
    {
        name: "",
        src: "/mitrajurnal/tazkia.png",
    },
    {
        name: "",
        src: "/mitrajurnal/trisakti.png",
    },
    {
        name: "",
        src: "/mitrajurnal/uai.png",
    },
    {
        name: "",
        src: "/mitrajurnal/ubaya.png",
    },
    {
        name: "",
        src: "/mitrajurnal/ubhara.png",
    },
    {
        name: "",
        src: "/mitrajurnal/ubl.png",
    },
    {
        name: "",
        src: "/mitrajurnal/untar.png",
    },
];
---

<div class="m-1">
    <div class="flex items-center justify-center mt-2 mb-3 w-full">
        <h2
            class="rounded-full bg-ncafa text-white text-base sm:text-2xl lg:text-3xl lg:text-center px-6 py-1"
        >
            SINTA 1
        </h2>
    </div>
    <div
        class="grid grid-cols-2 justify-center justify-items-center md:grid-cols-4 gap-2 py-4"
    >
        {
            mitrajurnal.map((mitrajurnal) => (
                <div class="flex justify-center">
                    <img
                        class="h-3/4 lg:h-auto lg:w-1/2 rounded-lg"
                        src={mitrajurnal.src}
                        alt={mitrajurnal.name}
                    />
                </div>
            ))
        }
    </div>
</div>
