---
const mitrajurnal = [
    {
        name: "The Accounting Journal of Binaniaga - Universitas Binaniaga Indonesia ",
        src: "/mitrajurnal/sinta5/binaniaga.png",
        href: "https://e-journal.stiebinaniaga.ac.id/index.php/Accounting/index"
    },
    {
        name: "JAAF (Journal of Applied Accounting and Finance) - President University",
        src: "/mitrajurnal/sinta5/jaaf.png",
        href: "http://e-journal.president.ac.id/presunivojs/index.php/JAAF"
    },
];
---

<div class="m-4">
    <div class="flex items-center justify-center mt-2 mb-3 w-full">
        <h2
            class="rounded-full bg-ncafa-3 text-white text-base sm:text-2xl lg:text-3xl lg:text-center px-6 py-1"
        >
            SINTA 5
        </h2>
    </div>
    <div
        class="grid grid-cols-2 justify-center justify-items-center md:grid-cols-2 gap-4 py-4"
    >
        {
            mitrajurnal.map((mitrajurnal) => (
                <div class="flex justify-center">
                    <a href={mitrajurnal.href} target="_blank" class="flex justify-center">
                    <img
                    class="h-3/4 lg:h-auto lg:w-1/2 rounded-lg"
                        src={mitrajurnal.src}
                        alt={mitrajurnal.name}
                    />
                </a>
                </div>
            ))
        }
    </div>
</div>
