---
const mitrajurnal = [
    {
        name: "SAR (Soedirman Accounting Review)",
        src: "/mitrajurnal/sinta4/sar2.png",
        href:"http://jos.unsoed.ac.id/index.php/sar/index"
    },
    {
        name: "Wahana Riset Akuntansi - e-Journal UNP",
        src: "/mitrajurnal/sinta4/wra2.png",
        href:"https://ejournal.unp.ac.id/index.php/wra/index"
    },
    {
        name: "Jurnal Akuntansi dan Keuangan - Universitas Budi Luhur",
        src: "/mitrajurnal/sinta4/akeu.png",
        href:"https://journal.budiluhur.ac.id/index.php/akeu"
    },
    {
        name: "Current:Jurnal Kajian Akuntansi dan Bisnis Terkini - Universitas Riau",
        src: "/mitrajurnal/sinta4/current.png",
        href:"https://current.ejournal.unri.ac.id/"
    },
    {
        name: "Jurnal Wacana Equiliberium - Fakultas Ekonomi Universitas Islam Madura ",
        src: "/mitrajurnal/sinta4/equiliberium.png",
        href:"https://journal.uim.ac.id/index.php/equilibrium%C2%A0"
    },
    {
        name: "Jurnal Akuntansi dan Keuangan (JAK) - Universitas Lampung ",
        src: "/mitrajurnal/sinta4/jak.png",
        href:"http://jurnal.feb.unila.ac.id/index.php/jak"
    },
];
---

<div class="m-1">
    <div class="flex items-center justify-center mt-2 mb-3 w-full">
        <h2
            class="rounded-full bg-ncafa-3 text-white text-base sm:text-2xl lg:text-3xl lg:text-center px-6 py-1"
        >
            SINTA 4
        </h2>
    </div>
    <div
        class="grid grid-cols-2 justify-center justify-items-center md:grid-cols-2 gap-2 py-4"
    >
        {
            mitrajurnal.map((mitrajurnal) => (
                <div class="flex justify-center">
                    <a href={mitrajurnal.href} target="_blank" class="flex justify-center">
                    <img
                    class="h-3/4 lg:h-auto lg:w-1/2 rounded-lg"
                        src={mitrajurnal.src}
                        alt={mitrajurnal.name}
                    />
                </a>
                </div>
            ))
        }
    </div>
</div>
