---
const mitrajurnal = [
    {
        name: "Media Riset Akuntansi, Auditing & Informasi",
        src: "/mitrajurnal/sinta2/media-riset.png",
        href:"https://e-journal.trisakti.ac.id/index.php/mraai"
    },
];
---

<div class="m-1">
    <div class="flex items-center justify-center mt-2 mb-3 w-full">
        <h2
            class="rounded-full bg-ncafa-3 text-white text-base sm:text-2xl lg:text-3xl lg:text-center px-6 py-1"
        >
            SINTA 2
        </h2>
    </div>
    <div
        class="grid grid-cols-1 justify-center justify-items-center md:grid-cols-1 gap-2 py-4"
    >
        {
            mitrajurnal.map((mitrajurnal) => (
                <div class="flex justify-center">
                    <a href={mitrajurnal.href} target="_blank" class="flex justify-center">
                    <img
                        class="h-3/4 lg:h-auto lg:w-1/2 rounded-lg"
                        src={mitrajurnal.src}
                        alt={mitrajurnal.name}
                    />
                </a>
                </div>
            ))
        }
    </div>
</div>
