---
const mitrajurnal = [
    {
        name: "E-Jurnal Akuntansi",
        src: "/mitrajurnal/sinta3/ejurnal-akuntansi.png",
        href: "https://ojs.unud.ac.id/index.php/Akuntansi"
    },
    {
        name: "Jurnal Riset Akuntansi dan Keuangan",
        src: "/mitrajurnal/sinta3/jurnal-riset-akuntansi-dan-keuangan.png",
        href: "https://ejournal.upi.edu/index.php/JRAK"
    },
]
---

<div class="m-4">
    <div class="flex items-center justify-center mt-2 mb-3 w-full">
        <h2
            class="rounded-full bg-ncafa-3 text-white text-base sm:text-2xl lg:text-3xl lg:text-center px-6 py-1"
        >
            SINTA 3
        </h2>
    </div>
    <div
        class="grid grid-cols-2 justify-center justify-items-center md:grid-cols-2 gap-2 py-4"
    >
        {
            mitrajurnal.map((mitrajurnal) => (
                <div class="flex justify-center">
                    <a href={mitrajurnal.href} target="_blank" class="flex justify-center">
                    <img
                    class="h-3/4 lg:h-auto lg:w-1/2 rounded-lg"
                        src={mitrajurnal.src}
                        alt={mitrajurnal.name}
                    />
                </a>
                </div>
            ))
        }
    </div>
</div>
