<html class="w-full h-full flex justify-center items-center">
	<div class="flex">
		<div class="">
			<h1 class="text-base font-bold">3<sup>rd</sup> International and 6<sup>rd</sup> National Conference on Accounting and Fraud Auditing</h1>
			<p class="text-base text-center">Coming soon.</p>
		</div>
	</div>
</html>