<html class=" bg-white">
	<div class="w-screen h-screen">
		<div class="flex w-full h-full justify-center items-center">
			<div class="m-5 gap-3 flex flex-col">
				<h1 class="text-black font-bold text-4xl text-center">3<sup>rd</sup> International and 6<sup>th</sup> National Conference on Accounting and Fraud Auditing</h1>
				<p class="text-black text-3xl text-center">Coming soon.</p>
			</div>
		</div>
	</div>
</html>