---
import Jumbotron from "../layouts/partials/Jumbotron.astro";
import Paragraph from "../layouts/components/Paragraph.astro";
import Layout from "../layouts/partials/Layout.astro";
import Container from "../layouts/partials/Container.astro";
import ContactContainer from "../layouts/components/ContactContainer.astro";
import Heading2 from "../layouts/components/Heading2.astro";
import DateIndex from "../content/DateIndex.astro";
import ContainerScreen from "../layouts/partials/ContainerScreen.astro";

---

		<Layout title="Committee">
			<Jumbotron
				src="/jumbotron/committee-3.webp"
			/>
			<ContainerScreen>
				<div class="h-full"></div>
                    <Paragraph
					text="This event is not only the result of one party's hard work, but involves close collaboration between lecturers and students. Lecturers as academic supervisors play an active role in directing and providing views from an academic point of view, while students as the main actors in the implementation of the event also contribute their creative ideas."
                    />
                </ContainerScreen>
		</Layout>