<div class="overflow-x-auto m-auto w-1/2 lg:px-6 w-full lg:w-1/2 text-black">
  <table class="table">
    <!-- head -->
    <thead>
      <tr>
        <th class="text-xl text-black text-bold">CATEGORY</th>
        <th class="text-xl text-black text-bold">INTERNATIONAL</th>
        <th class="text-xl text-black text-bold">NATIONAL</th>
      </tr>
    </thead>
    <tbody>
      <!-- Offline -->
      <tr>
          <td class="text-lg text-bold text-black text-bold">Offline</td>
      </tr>
      <tr>
        <td class="text-base">Seminar Participants (General)</td>
        <td class="text-base">IDR 250.000</td>
        <td class="text-base">IDR 250.000</td>
      </tr>
      <tr>
        <td class="text-base">Seminar Participants (Student)</td>
        <td class="text-base">IDR 50.000</td>
        <td class="text-base">IDR 50.000</td>
      </tr>
      <!-- Online -->
      <tr>
          <td class="text-lg text-bold text-black text-bold">Online</td>
      </tr>
      <tr>
        <td class="text-base">Seminar Participants (General)</td>
        <td class="text-base">IDR 250.000</td>
        <td class="text-base">IDR 250.000</td>
      </tr>
      <tr>
        <td class="text-base">Seminar Participants (Student)</td>
        <td class="text-base">IDR 50.000</td>
        <td class="text-base">IDR 50.000</td>
      </tr>
    </tbody>
  </table>
</div>