---
import Sinta1 from "../components/mitrajurnal/sinta1.astro";
import Sinta2 from "../components/mitrajurnal/sinta2.astro";
import Sinta3 from "../components/mitrajurnal/sinta3.astro";
import Sinta4 from "../components/mitrajurnal/sinta4.astro";
import Sinta5 from "../components/mitrajurnal/sinta5.astro";
import GoogleScholar from "../components/mitrajurnal/googlescholar.astro";
---

<div class="flex flex-col gap-3">
    <Sinta2 />
    <Sinta3 />
    <Sinta4 />
    <Sinta5 />
    <GoogleScholar />
</div>
