---
const Speaker = [
    {
        name: "",
        title: "",
        src: "",
    },
];
---

{
    Speaker.map((speaker) => (
        <div class="card card-side w-3/4 justify-center m-auto my-2">
            <figure class="w-1/2">
                <img
                    class="w-1/2"
                    src={speaker.src}
                    alt={speaker.name}
                />
            </figure>
            <div class="card-body w-1/2">
                <h2 class="text-3xl card-title">{speaker.name}</h2>
                <p class="text-xl">{speaker.title}</p>
            </div>
        </div>
    ))
}
